* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: rgb(66, 65, 147);
	--secondary-color: rgb(43, 168, 74);
	--grey-primary: rgb(243, 245, 247);
	--grey-secondary: rgb(189, 189, 189);
}